@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Bangers', monospace;
  font-size: 18px;
}

header,
main,
.footer-bottom {
  padding: 0 6rem;
}

header,
.footer-bottom {
  height: 100px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}